@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Source+Sans+Pro&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #00008B;
}
header h1{
    font-family: 'Major Mono Display', monospace;
    text-align: center;
    color: white;
}
header p{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: white;
}
section{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
}
.searchBar{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-basis: 80%;
}
.searchBar input{
    padding: 5px 8px;
    width: 80%;
    height: auto;
    margin: auto;
}
.searchBar button{
    border: none;
    margin-right: 20px;
    margin-left: 0px;
    outline: none;
    border-radius: 2px;
}
.searchBar button:hover{
    background-color: rgb(231, 228, 228);
}
.results{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}
.resultContent{
    /* background-color: white; */
    color: black;
    text-align: center;
    border-radius: 5px;
    width: 95%;
    height: auto;
    padding-bottom: 25px;
}
.resultBody .link{
    text-decoration: none;
    border: 1px solid #00008B;
    color: white;
    background-color: #00008B;
    padding: 10px;
    border-radius: 5px;
}
.resultBody .link:hover{
    color: #00008B;
    background-color: white;
}